@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@300;400;600;700&display=swap");

body {
  background-color: #f7faff;
  font-family: "Lexend", sans-serif;
}

.primary-color {
  color: #3246d3;
}
.primary-color-bg {
  background-color: #3246d3;
}
.border-color {
  border-color: #9aeaff !important;
  border-width: 3px !important;
  border-radius: 82px;
}

.logo-bottom {
  margin-bottom: 2rem !important;
}

.bg-brand {
  background-color: #f7faff;
}

.font-extrabold {
  font-weight: 9000 !important;
}

.underline {
  text-decoration: underline !important;
}

.custom-underline {
  text-underline-offset: 4px;
}
